header {
    padding: 156px 0 100px;
}

section {
    padding-top: 75px;
    padding-right: 0px;
    padding-bottom: 20px;
    padding-left: 0px;
}
.bg-dark {
    background-image: none; 
    background-repeat: no-repeat; 
}

.validation_error, .validation_info {
    display: block; 
}

#loaderRadio {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10000;
    background-color: rgba(25, 25, 25, 0.5); 
}

#loaderRadio .loader_holder {
    position: relative;
    top: 45%;
    height: 150px;
    width: 100%; 
}

#loaderRadio .loader_holder img {
    width: 120px;
    margin: 0 auto;
    padding: 0;
    display: block; 
}

#loaderRadio .loader_holder p {
    display: block;
    color: white;
    text-align: center;
    padding: 0;
    margin: 0; 
}

.footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
}